@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family:'Inknut Antiqua', 'Arial Narrow', Arial, sans-serif;
}

.and {
    font-family: "Istok Web";
    font-size: 117%;
    line-height: 1em;
}

:root {
    --bgcolor: #282012;
    --color1: #DDB15F;
    --color2: #E6B863;
    --color3: #BB9650;
    --color4: #775F33;
    --thetext: #FFEFD2;
    --cardheight: 28.125vw;
}

body {

    margin: 0;
    background-color: var(--bgcolor);
    color: white;
    margin-top: max(5vh, 10vh);
    overflow-x: hidden;
}   

.topnav ul li {
    justify-content: center;
    width: 33.33%;
    font-size: max(1vw, 10%);
}


.topnav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    width: 100%;
    min-width: 33.33vw;
    margin-bottom: 8%;
    line-height: .7em;
    height: 95%;

}

.topnav li a {
    color: var(--thetext);
    text-decoration: none;

}

.topnav img {
    height: max(90%, 1.1vw);
    justify-content: flex-start;
    margin-left: 10%;
    margin-bottom: 10%;
}

.topnav {
    top: 0;
    display: flex;
    position: fixed;
    margin: 0;
    width: 100vw;
    height: max(5vh, 10vh);
    background-color: var(--bgcolor);
    justify-content: space-between;
    box-shadow: 0 .2em .5em black;
    align-items: center;
    z-index: 500000;
}

.navbox {
    margin: .2%;
    width: 33.33%;
    height: 90%;
    
}

#rightlinks.navbox a {
    align-items: center;
    justify-content: center;
}


#home { /* This is home of navbox */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.home { /* This is home link */
    background-color: var(--color4);
    border-radius: 50px;
    border: 15px;
    padding: 0.2em 0.7em;
    align-items: center;
    line-height: 1em;
    color: white;
    text-decoration: none;
    font-size: max(120%, 2.2vw);
}

#rightlinks {
    display: flex;
    justify-content: center;
    align-content: center;
}

.herotxt {
    font-size: max(120%, 2.2vw);
    position: absolute;
    display: flex;
    text-align: center;
    align-self: flex-start;
    text-shadow: 0 4px 15px  black;

}
.hero-container {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herotxt#not-home {
    align-self: center;
}

.heroimg {
    width: 100%;
    height: auto;
}

.searchbar {
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center; 
}

.searchbar-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25vh;
    width: 25vw; 
    height: 4em;
    outline: none;
}


main {
    margin-top: 10vh;
    width: 100%;
}

.card-container {
    display: flex;
    justify-content: space-around; 
    width: 100%;
}

.card {
    width: 28.125vw;
    height: 45.144vw;
    background-color: var(--color4);
    margin: 0 10px; 
    box-shadow: 0 4px 4px black;
}

.card img {
    width: 28.125vw;
    align-self: flex-start;
}

.card-content {
    display: flex;
    flex-direction: column;
    font-size: max(50%, 1vw);
    margin: 5%;
    line-height: 3em;
    padding: 0;
    height: 58.5%;
    position: relative;
    text-shadow: 0 2px 2px black;
}

.card-content h1{

    font-size: max(70%, 1.5vw);
    margin: 0;
    top: 0;
    left: 0;
}

.card-content a { 
    align-self: flex-end;
    color: white;
    background-color: var(--bgcolor);
    padding: 1em 1.3em;
    text-decoration: none;
    display: flex;
    border-radius: 15px;
    font-size: max(50%, 1vw);
    position: absolute;
    bottom: 2rem;
    right: 1rem;
}

.goals {
    font-size: max(50%, 1vw);
    margin: 2.2%;
    justify-content: center;
}

.goals h2 {
    text-align: center;
}

.bottom-nav {

    bottom: 0;
    display: flex;
    margin: 0;
    width: 100vw;
    height: max(13vh, 26vh);
    background-color: var(--color4);
    justify-content: space-between;
    box-shadow: 0 .2em .5em black;
    align-items: center;
}

.bottom-nav section { 
    margin: .2%;
    width: 33.33%;
    height: 90%;
}

.bottom-nav .nav-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2.2%;
    justify-content: space-evenly;
    

}
 .bottom-nav .nav-left address{
    line-height: 1em;
    font-size: max(30%, .8vw);
    width: 75%;
    max-width: 310px;
}

.bottom-nav .nav-left h2 {
    line-height: .5em;
    font-size: max(30%, .9vw);
    width: 75%;
    max-width: 310px;
}

.bottom-nav .nav-left a {
    text-decoration: none;
    color: white;
    width: 75%;
    background-color: var(--bgcolor);
    border-radius: 25px;
    max-width: 310px;
    line-height: 2.2em;

}

.bottom-nav .nav-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-nav .nav-mid img {
    height: 60%;
}

.bottom-nav .nav-right {
    margin: 2.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottom-nav .nav-right .email { 
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    max-width: 500px;
    outline: none;
    border-radius: 10px;
}

.bottom-nav .nav-right .email-input { 
    outline: none;
    width: 75%;
    height: 4em;
    border-radius: 10px;
}
.bottom-nav .nav-right p, .bottom-nav .nav-right h2 {
    width: 75%;
    justify-content: center;
    text-align: center;
    max-width: 382px;
    font-size: max(50%, 1vw);
} 
.bottom-nav .nav-right h2 {
    line-height: .5em;
}

.main-conv {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: row;
    margin-top: 7vh;
}

.conv-container {

    width: 83.125vw;
    height: 53.614vw;
    display: flex;
    flex-direction: row;

} 

.conv-cont-lt {
    height: 100%;
    font-size: max(50%, 1vw);
    width: 36.597vw;
    background-color: var(--color4);
    margin-right: 1.25%;
}


.conv-cont-rt {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 46.527vw;
    justify-content: space-between;
    margin-left: 1.25%;
}

.conv-cont-rt img {
    height: 59.844%;
    width: 46.527vw;

}

.conv-cont-rt article {
    height: 35.492%;
    background-color: var(--color3);
    width: 46.527vw;
    align-self: flex-end;
}
































/* .conv-container {
    width: 83.125vw;
    height: 53.614vw;
    background-color: grey;
    display: flex;
    flex-direction: row;
    font-size: max(50%, 1vw);

}

.conv-cont-lt article {
    background-color: var(--color4);
    height: 53.614vw;
    line-height: 2em;
    padding: 5%;
}



.conv-cont-rt article {
    background-color: var(--color1);
    height: 35%;
    margin-bottom: 5%;
    padding: 5%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
}

.conv-cont-rt img {
    height: 65%;
    margin-bottom: 0;
}

.conv-cont-lt {
    margin-left: 2.5%;
}

.conv-cont-rt {
    margin-right: 2.5%;
}
.conv-cont-rt article h2{
    line-height: .5em;
    margin: 0;
}

.conv-cont-rt article ul {
    width: 100%;

}



 */




.h-gallery-c-c {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 22vh;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: var(--color1);
    align-items: center;
}
.h-gallery-c {
    margin: 2.2%;
    height: 79.45%;
    width: 95%;
    padding: .3% .5%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: var(--color4);
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.h-gallery-c img {
    margin-left: .25%;
    margin-right: .25%;
    height: 100%;
    box-shadow: 0.25 4px 4px;
}
