@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family:'Inknut Antiqua', 'Arial Narrow', Arial, sans-serif;
}

.and {
    font-family: "Istok Web";
    font-size: 117%;
    line-height: 1em;
}

:root {
    --bgcolor: #282012;
    --color1: #DDB15F;
    --color2: #E6B863;
    --color3: #BB9650;
    --color4: #775F33;
    --thetext: #FFEFD2;
    --cardheight: 28.125vw;
}

body {

    margin: 0;
    background-color: var(--bgcolor);
    color: white;
    margin-top: max(5vh, 10vh);
    overflow-x: hidden;
}   
.herotxt {
    font-size: max(120%, 2.2vw);
    position: absolute;
    display: flex;
    text-align: center;
    align-self: flex-start;
    text-shadow: 0 4px 15px  black;

}
.hero-container {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.heroimg {
    width: 100%;
    height: auto;
}

.searchbar {
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center; 
}

.searchbar-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25vh;
    width: 25vw; 
    height: 3.5em;
    outline: none;
}

.topnav ul li {
    justify-content: center;
    width: 33.33%;
    font-size: max(1vw, 10%);
}


.topnav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    width: 100%;
    min-width: 33.33vw;
    margin-bottom: 8%;
    line-height: .7em;
    height: 95%;

}

.topnav li a {
    color: var(--thetext);
    text-decoration: none;

}

.topnav img {
    height: max(90%, 1.1vw);
    justify-content: flex-start;
    margin-left: 10%;
    margin-bottom: 10%;
}

.topnav {
    top: 0;
    display: flex;
    position: fixed;
    margin: 0;
    width: 100vw;
    height: max(5vh, 10vh);
    background-color: var(--bgcolor);
    justify-content: space-between;
    box-shadow: 0 .2em .5em black;
    align-items: center;
    z-index: 500000;
}

.navbox {
    margin: .2%;
    width: 33.33%;
    height: 90%;
    
}

#rightlinks.navbox a {
    align-items: center;
    justify-content: center;
}

/* This is home of navbox */
#home { 
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* This is home link */
.home {
    background-color: var(--color4);
    border-radius: 50px;
    border: 15px;
    padding: 0.2em 0.7em;
    align-items: center;
    line-height: 1em;
    color: white;
    text-decoration: none;
    font-size: max(120%, 2.2vw);
}

#rightlinks {
    display: flex;
    justify-content: center;
    align-content: center;
}
.content {
    margin-top: 10vh;
    width: 100%;
}
.card-container {
    display: flex;
    justify-content: space-around; 
    width: 100%;
}


/* .card {
    justify-content: center;
    width: 28.125vw;
    height: 30vw;
    align-items: center;
    /* height: (28.125/.623)vw; 
    display: flex;
    background-color: black;
} 
    */

.card {
    justify-content: center;
    width: 28.125vw;
    height: 45.144vw;
    align-items: center;
    background-color: var(--color4);
    margin: 0 10px; 
    box-shadow: 0 4px 4px black;
}

.card img {
    width: 28.125vw;
    align-self: flex-start;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: max(50%, 1vw);
    margin: 5%;
    line-height: 2em;
    padding: 0;
    height: 58.5%;
    position: relative;
}

.card-content h1{
    font-size: max(70%, 1.5vw);
    margin-top: 0;
}

.card-content a { 
    align-self: flex-end;

    color: white;
    background-color: var(--bgcolor);
    padding: 1em 1.3em;
    text-decoration: none;
    display: flex;
    border-radius: 5%;
    font-size: max(50%, 1vw);
    position: absolute;
    bottom: 2rem;
    right: 1rem;
}